<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <title>Weather App</title>
</head>
<body>
    <div id="currentWeather">
        <h1>Date: <%= currentTime %></h1>
        <p>Weather for Hamburg</p>
        <figure>
            <img src="https://openweathermap.org/img/wn/<%- weather.icon %>@2x.png">
            <figcaption><%= weather.description %>, <%= currentData.temp %>°C, <%= tempFahrenheit %>°F</figcaption>
        </figure>
        <p>Sunrise: <%= sunrise %></p>
        <p>Sunset: <%= sunset %></p>
        </div>
</body> 
</html>